@import "app/variables.module";
@import "app/mixins.module";

$border-width: 0.125rem;
$border-radius: 1rem;

.base-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black; /* Fallback color */
  background-color: rgba($color-black, 0.6); /* Black w/ opacity */

  &--active {
    display: block;
  }

  &__content {
    margin: 7.5% auto; /* 7.5% from the top and centered */
    width: 50%;
    max-width: 48rem;
    animation-name: animateTop;
    animation-duration: 750ms;
  }

  &__content-item {
    padding: 0.75rem 1.5rem;
    background-color: $color-white;
  }

  &__header {
    @include header-sizing(6, 'desktop');
    @include mq-large-down {
      @include header-sizing(5, 'mobile');
    }

    color: $color-font-primary;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-bottom: $border-width solid $color-grey-100;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: $font-weight-medium;
  }

  &__header-item {
    flex: 1;
  }

  &__header-close {
    flex: 0.25;
  }

  &__close-wrapper {
    background-color: $color-white;
    color: $color-primary;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 3.125rem;
  }

  &__body-item {
    width: 100%;
    flex: 1;
    margin: 0.375rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      height: 100%;
    }
  }

  &__footer {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__footer-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  &__footer-control {
    margin-left: auto;
    display: flex;
    height: 100%;

    &:not(:first-child) {
      margin-left: 0.375rem;
    }

    &:not(:last-child) {
      margin-right: 0.375rem;
    }
  }
}

@keyframes animateTop {
  from {top: -18.75; opacity: 0}
  to {top: 10%; opacity: 1}
}