@import "app/variables.module";
@import "app/mixins.module";

.footer {
  width: 100%;
  padding: 10rem 0 5rem 0;

  &__container {
    @include container;

    text-align: center;
    @include body-sizing('default', 'desktop');
    @include mq-large-down {
      @include body-sizing('default', 'mobile');
    }

    font-weight: $font-weight-regular;
    letter-spacing: -0.0625rem;

    strong {
      font-weight: $font-weight-bold;
      color: $color-primary;
    }
  }
}