// GREY
$color-grey-50: rgb(250, 250, 250);
$color-grey-100: #EEF0F4;
$color-grey-200: #DDE1E8;
$color-grey-300: #CBD3DD;
$color-grey-400: #BAC4D1;
$color-grey-500: #A9B5C6;
$color-grey-600: #7D8FA9;
$color-grey-700: #586A84;
$color-grey-800: #3B4758;
$color-grey-900: #1D232C;
$color-grey-0: #161B21;
$color-grey--100: #0F1216;
$color-grey--200: #07090B;

// BLUE
$color-blue-100: #E5F3FF;
$color-blue-200: #CBE6FF;
$color-blue-300: #B1DAFF;
$color-blue-400: #97CDFF;
$color-blue-500: #7DC1FF;
$color-blue-600: #319DFF;
$color-blue-700: #0077E4;
$color-blue-800: #005098;
$color-blue-900: #00284C;

// YELLOW
$color-yellow-100: #FFF2DA;
$color-yellow-200: #FFE6B5;
$color-yellow-300: #FFD98F;
$color-yellow-400: #FFCD6A;
$color-yellow-500: #FFC045;
$color-yellow-600: #FFAA04;
$color-yellow-700: #C28100;
$color-yellow-800: #825600;
$color-yellow-900: #412B00;

// PURPLE
$color-purple-100: #ECD0FD;
$color-purple-200: #D8A1FA;
$color-purple-300: #C571F8;
$color-purple-400: #B142F5;
$color-purple-500: #9E13F3;
$color-purple-600: #800AC7;
$color-purple-700: #600896;
$color-purple-800: #400564;
$color-purple-900: #200332;

// RED
$color-red-100: #FFE5EC;
$color-red-200: #FFCBD9;
$color-red-300: #FFB1C7;
$color-red-400: #FF97B4;
$color-red-500: #FF7DA1;
$color-red-600: #FF316A;
$color-red-700: #E4003F;
$color-red-800: #98002A;
$color-red-900: #4C0015;

// GREEN
$color-green-100: #CAFBEC;
$color-green-200: #95F7D9;
$color-green-300: #60F3C6;
$color-green-400: #2BEFB3;
$color-green-500: #10D096;
$color-green-600: #0DA678;
$color-green-700: #0A7D5A;
$color-green-800: #06533C;
$color-green-900: #032A1E;

// TURQUOISE
$color-turquoise-100: #CAF6F9;
$color-turquoise-200: #95EDF2;
$color-turquoise-300: #60E4EC;
$color-turquoise-400: #2CDAE6;
$color-turquoise-500: #17B5BF;
$color-turquoise-600: #129199;
$color-turquoise-700: #0E6D73;
$color-turquoise-800: #09484C;
$color-turquoise-900: #052426;