@import "app/variables.module";
@import "app/mixins.module";

.html {
  font-size: 16px;
}

.body {
  background-color: $color-ui-dark-page-background;
  font-family: $font-primary;
  color: $color-font-primary;

  @include body-sizing('default', 'desktop');
  @include mq-large-down {
    @include body-sizing('default', 'mobile');
  }

  transition-property: color, background-color, font-size, font-weight, letter-spacing, line-height;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-curve;
}

.flex-page {
  display: flex;
  flex-direction: row;
  min-height: 75vh;
  align-items: stretch;

  &__content {
    @include container;

    flex: 1;
    height: 100%;
  }
}
