@import "app/variables.module";
@import "app/mixins.module";

.news-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__entry {
    width: 100%;

    &:not(:first-child) {
    margin-top: 1rem;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}