@import "app/variables.module";
@import "app/mixins.module";

.trade-history-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  &__column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    @include mq-medium-up {
      &:not(:first-child) {
        margin-left: 1.5rem;
      }

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    @include mq-medium-down {
      &:not(:first-child) {
        margin-top: 0.625rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }
    }

    &--no-margin {
      margin: 0 !important;
    }
  }

  &__break {
    @include mq-medium-up {
      display: none;
    }

    flex-basis: 100%;
    height: 0;

    &--active {
      display: block;
      height: 0.125rem;
      margin: 0.5rem 0;
      background-color: rgba($color-primary, 0.10);
    }
  }

  &__header, &__content {

    &--hidden-sub-text {
      small {
        visibility: hidden;
      }
    }
  }

  &__header {
    color: $color-font-primary;
    font-weight: $font-weight-medium;
    width: 100%;
    letter-spacing: -0.0625rem;

    small {
      font-weight: $font-weight-medium;
      color: $color-primary;
    }
  }

  &__content {
    width: 100%;
    text-align: right;

    &--highlighted {
      color: $color-primary;
      font-weight: $font-weight-bold;
    }
  }
}