@import "app/variables.module";
@import "app/mixins.module";

.trade-list {

  &__positive, &__negative {
    font-weight: $font-weight-bold !important;
  }

  &__positive {
    color: $color-ui-dark-positive !important;
  }

  &__negative {
    color: $color-ui-dark-negative !important;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
      th {
        padding-bottom: 0.75rem;
        text-align: center;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: $font-weight-bold !important;

        @include mq-large-down {
          @include body-sizing('xsmall', 'mobile');
        }

        @include body-sizing('xsmall', 'desktop');
      }
    }

    tbody {
      tr {
        border-bottom: 0.125rem solid rgba($color-primary, 0.25);
      }

      td {
        text-align: center;
        padding: 1.125rem 0;

        @include mq-large-down {
          @include body-sizing('small', 'mobile');
        }

        @include body-sizing('small', 'desktop');
      }
    }
  }

  &__table-admin {
    max-width: 4.5rem;
    text-align: center;
    margin: 0 auto;
  }
}