@import "app/variables.module";
@import "app/mixins.module";

$table-border-color: rgb(225, 225, 225);

.news {
  width: 100%;

  &__table {
    margin-top: -1rem;
    width: 100%;
    border-collapse: collapse;

    tr {
      border-bottom: 0.0625rem solid $table-border-color;
    }

    thead {
      th {
        height: 2.5rem;
        overflow: hidden;
        vertical-align: center;
        padding-bottom: 0.5rem;

        @include body-sizing('small', 'desktop');
        @include mq-medium-down {
          @include body-sizing('small', 'mobile');
        }

        text-transform: uppercase;
        font-weight: $font-weight-semi-bold !important;
        color: $color-primary;
      }
    }

    tbody {
      td {
        height: 2.5rem;
        overflow: hidden;
        vertical-align: center;
        padding: 0.5rem 0;

        @include body-sizing('small', 'desktop');
        @include mq-medium-down {
          @include body-sizing('small', 'mobile');
        }
      }
    }
  }

  &__date-row {
    text-transform: uppercase;
    font-weight: $font-weight-bold !important;
  }

  &__label {
    text-align: left;
  }

  &__flag {
    div {
      height: 2rem;
      width: 2rem;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}